<h1>Car</h1>
<form action="/car" method="post">
  <label for="make-model">Make/Model: </label>
  <input id="make-model" name="make-model" type="text">
  <label for="price">Price: </label>
  <input id="price" name="price" type="text">
  <label for="miles">Miles: </label>
  <input id="miles" name="miles" type="text">
  <button type="submit">Submit</button>
</form>
